#calcs .calc-wrap {
    margin-bottom: 25px;
}

#calcs .calc-wrap button.btn-calc {
    width: 100%;
    color: rgba(0,0,0,.8);
}

.preload {
    height: 50px;
    overflow: hidden;
}

.preload:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url("../img/img.gif");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
}

#archive-page #search {
    width: calc(100% - 100px);
    margin-right: 20px;
}